spring:
  artemis:
    broker-url: tcp://localhost:61616
    user: artemis
    password: artemis
    mode: native
  jms:
    pub-sub-domain: false
  datasource:
    url: jdbc:mysql://localhost:3306/bank_service
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:thanhleesenpai@gmail.com}
    password: ${MAIL_PASSWORD:znzygnculxpwssup}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8082